.App {
  text-align: left;
  margin: 50px;
  display: flex;

}
.items{
  position: relative;
  border: 2px solid black;
  width: 50%;
  padding: 20px 0 0;
}
.items h2 {
  padding: 0 5px;
  background: #fff;
  position: absolute;
  top: -35px;
  left: 15px;
}
.order{
  position: relative;
  border-top: 2px solid black;
  width: 50%;

}
.order h2 {
  padding: 0 5px;
  background: #fff;
  position: absolute;
  top: -35px;
  left: 15px;
}
.price p{
  margin: 30px;
  color: red;
  font-size: 25px;
  font-weight: bold;
}
.wrapper{
  margin-left: 50px;
}
.btn{
  margin-left: 20px;
}
.btn p{
  font-weight: bold;
}
.btnRemove{
  width: 30px;
  height: 30px;
  font-size: 0;
  border-radius: 10px;
  text-align: center;
}
.butt{
  padding: 10px;
  width: 100px;
}
.priceSpan{

}
.ttpSpan{
  font-size: 24px;
  margin-left: 50px;
  margin-top: 50px;
}
.total{
  font-weight: bold;
  font-size: 24px;
  border-top: 3px solid black;
  width: 300px;
  margin-left: 50px;
  padding-top: 20px;
}
.priceCurrent{
  margin-left: 20px;
}
.spanX{
  margin-right: 10px;
  margin-left: 10px;
}
.orderP{
  font-size: 24px;
  margin-left: 50px;
}
